/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';


.nav-item .nav-link.active{
    background-color: #16212e !important;
    color: #FFF;
}

.nav-item .nav-link{
    color: #212529 ;
    font-weight: 600;
}

.tab-pane{
    overflow: auto;
    height: 50vh;
}

.form-group.row{
    margin: .5rem;
}

::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #e9ecef;
}

::-webkit-scrollbar-thumb {
    background: #16212e;
    -webkit-border-radius: 1ex;
    -webkit-box-shadow: 0px 1px 2px #e9ecef(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #e9ecef;
}